#showBackground {
  transform: translateY(0%);
}

#hiddenBackground {
  transform: translateY(100%);
  transition-delay: .5s
}

#showForm{
  transform: translateY(0%);
  transition: .5s;
}

#hiddenForm{
  transform: translateY(105%);
  transition: .5s;
}

#backgroundChangeAvt_form-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#form_edit-input{
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.backgroundChangeAvt {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  top: 0;
  left: 0;
}

.backgroundChangeAvt_form {
  position: absolute;
  width: 900px;
  height: 900px;
  background: rgb(238, 203, 203);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto;
}

.backgroundChangeAvt_form-edit{
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5)
}

.backgroundChangeAvt_form-edit:hover{
  background-color: rgba(255, 255, 255, 0.8);
} 

.form_edit-title{
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  align-items: center;
  margin: auto;
}